.gameboard-container {
  min-width: 90vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  .header {
    min-height: 20%;
    background-color: rgb(120, 120, 202);
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 80%;
    .online {
      flex-grow: 1;
      min-width: 20%;
      background-color: black;
    }
    .gameboard {
      flex-grow: 2;
      min-width: 60%;
      background-color: red;
    }
    .chat {
      flex-grow: 1;
      min-width: 20%;
      background-color: black;
    }
  }
}
