.pick-answer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.choseBox {
  color: white;
  &-title {
    text-align: center;
  }
}

.submit-button-wrapper {
  display: flex;
  justify-content: center;
  .submit-button {
    margin-top: 30px;
    height: 40px;
    font-size: 20px;
    width: 200px;
    cursor: pointer;
    background-color: rgb(133, 228, 133);
    color: black;
    margin-bottom: 40px;
  }
}

.answer-submitted {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    color: white;
    font-size: 30px;
  }
}
